.top {
    background-color: #C3CFD9;
    height: 67px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top h1 {
    color: #E8833A;
    font-size: 34px;
}